@import "tailwindcss";

/* Variables de color */
html,
body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Cambiado de center a flex-start */
}

main {
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 60px; /* ← Esto evita que el navbar lo tape */
}

/* Tema claro */
:root {
  --background-color: linear-gradient(120deg, #f5f7fa 0%, #dfe4ea 100%);
  --text-color: #2d3748;
  --shadow: rgba(0, 0, 0, 0.1);
  --hover-color: #4a5568;
}

/* Tema oscuro */
.dark {
  --background-color: #0d1b2a;
  --text-color: #e6f1ff;
  --shadow: rgba(255, 255, 255, 0.1);
  --hover-color: #64ffda;
}
