@import "tailwindcss";

/* Variables de color */
html,
body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Cambiado de center a flex-start */
}

main {
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 60px; /* ← Esto evita que el navbar lo tape */
}

nav {
  padding: 20px;
}

p {
  text-align: left;
  padding: 1rem 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.oblique-border {
  width: 100%;
  height: 5px;
  clip-path: polygon(2% 0%, 100% 0%, 98% 100%, 0% 100%);
  background: rgba(0, 0, 0, 1);
  transition: background 0.3s ease, clip-path 0.3s ease;
}

.dark .oblique-border {
  background: rgba(255, 255, 255, 1);
  clip-path: polygon(0% 0%, 98% 0%, 100% 100%, 2% 100%);
}

/* Tema claro */
:root {
  --background-color: linear-gradient(120deg, #f5f7fa 0%, #dfe4ea 100%);
  --text-color: #2d3748;
  --shadow: rgba(0, 0, 0, 0.1);
  --hover-color: #555555; /* Un gris oscuro que resalta sobre el fondo blanco sin llamar demasiado la atención */
  --background-div: #f5f7fa;
  --background-card: #fff;

  /* Mejorando el fondo de la tarjeta */
  --background-card-gradient: linear-gradient(145deg, #ffffff, #f1f1f1);
  --card-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
}

/* Tema oscuro */
.dark {
  --background-color: #0d1b2a;
  --text-color: #e6f1ff;
  --shadow: rgba(255, 255, 255, 0.1);
  --hover-color: #86ffda;
  --background-div: #0a1620;
  --background-card: #0d1b2a;

  /* Mejorando el fondo de la tarjeta en el tema oscuro */
  --background-card-gradient: linear-gradient(145deg, #1c2a3b, #0d1b2a);
  --card-shadow: rgba(255, 255, 255, 0.15) 0px 4px 8px;
}

/* Aplicando las mejoras en el background-card */
.card {
  background: var(--background-card-gradient);
  box-shadow: var(--card-shadow);
  transition: all 0.3s ease; /* Transición suave para cuando se cambia el tema */
}

/* Agregando un efecto de hover para más interacción */
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px;
}
